@media (max-width: 900px) {
  .blogs-main__news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .news {
    height: auto;
    width: 100%;
    min-width: 320px;
  }

  .nav-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .posts-blogs-container h2 {
    width: 80%;
    margin: 0 auto;
  }

  .articule-post-container {
    width: 100%;
  }
  .articule-post-container .post-container {
    max-width: 45%;
    margin-top: 20px;
  }

  .perfil-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }

  footer {
    height: auto;
  }
}
@media (max-width: 500px) {
  .articule-post-container {
    width: 90%;
    margin: 0 auto;
  }
  .articule-post-container .post-container {
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  .proyectos-container {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .tarjetas-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .contact-main-container div {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .perfil-container {
    padding: 0;
  }

  .perfil__img {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .perfil__img img {
    width: 100%;
  }

  .perfil__textos {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .tarjetas {
    margin-bottom: 30px;
  }

  footer {
    height: auto;
  }
}